@import url ('https://fonts.googleapis.com/css2? family = M + PLUS + 2: wght @ 400; 500 & display = swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.t1-empresa{
    margin-top: 20px;
    padding: 10px;
}
.form-empresa {
    padding: 20px;
    text-align: start;
}

