

@{
    ViewData["Title"] = "Home Page";
}
@model EmpresaModel;


<div class="text-center" id="ctn-empresa">

    <h1 class="t1-empresa" >Formulário de Cadastro</h1>

    <form class="form-empresa" asp-action="Cadastro" >

       
     <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="Nome"  asp-for= "Nome" placeholder="Nome">
     </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nome Fantasia</label>
        <input type="text" class="form-control" asp-for="NomeFantasia" placeholder="Nome Fantasia">
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">CNPJ</label>
        <input type="text" class="form-control" asp-for="CNPJ" placeholder="XX. XXX. XXX/0001-XX">
      </div>
      
     <button type="submit" value="Create" class="btn btn-primary">Salvar</button>
</form> 
</div>
