@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">  
   <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">

        <h1 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trainee VixTeam 2021</font></font></h1>
        
        <p class="text-dev">O Trainee acompanha e desenvolve atividades na área de Tecnologia da Informação,
            envolvendo a análise e desenvolvimento de sistema e realização de testes em software, a fim de capacitar para ocupação do cargo profissional planejado e aprimorar o conhecimento
            dos negócios, produtos ou serviços da empresa.</p>
        <p>
          <button onClick="alert('Tudo certo por aqui!')" class="btn btn-primary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Clique e Veja o Alerta</button>
           
          <a asp-controller="Home" asp-action="Privacy" class="btn btn-secondary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>Privacy</font></a>
        </p>
      </div>
    </div>
 </div> 
