@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">  
    <div  class="carousel slide carousel-fade" id="cs-213" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="Images/1.png" class="d-block w-100" alt=".Net">
        </div>
        <div class="carousel-item">
          <img src="Images/Trainee 2021.jpg" class="d-block w-100" alt="VixTeam Treinee 2021">
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <h1 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Atividades Propostas </font></font></h1>

    <div class="row align-items-md-stretch" id="cards-213">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Trainee VixTeam 2021</h2>
          <p>O Trainee acompanha e desenvolve atividades na área de Tecnologia da Informação, envolvendo a análise e desenvolvimento 
              de sistema e realização de testes em software, a fim de capacitar para ocupação do cargo profissional planejado e aprimorar
              o conhecimento dos negócios, produtos ou serviços da empresa.</p>
          <button class="btn btn-outline-light"  onClick="alert('Tudo certo por aqui!')" type="button">Veja o Alerta</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ASP.NET Core MVC</h2>
          <p>O ASP.NET Core MVC é uma estrutura avançada para a criação de aplicativos Web e APIs usando o padrão de design Model-View-Controller.</p>
          <a asp-controller="Home" asp-action="Privacy" class="btn btn-secondary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>Privacy</font></a>
        </div>
      </div>
    </div>

   
 </div> 
