@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>Voltar</font></a>
